{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">
    
    {% if "valido" in request.GET %}

        <p style="color: rgb(0, 0, 0);">Información enviada correctamente. Gracias.</p>

    {% endif %}
    <form action="" method="post" style="text-align: center;">
        {% csrf_token %}
        <table style="color: rgb(0, 0, 0); margin: 20px auto;">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" class="btn btn-dark" style="width: 150px;">
    </form>

</div>

{% endblock %}