{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'ProyectoWebApp/img/sala_gym.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">+1500 m2</span>
            <span class="section-heading-lower">Las mejores instralaciones</span>
          </h2>
          <p class="mb-3">Tenemos más de 1500 m2 equipados con las mejores máquinas de última generación.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <!-- <span class="section-heading-upper">Tu progreso es nuestro objetivo</span> -->
                <span class="section-heading-lower">Compromiso con tu Bienestar</span>
              </h2>
              <p class="mb-0">Con más de 10 años de experiencia en el mundo del fitness, en nuestro gimnasio estamos comprometidos con ayudarte a alcanzar tus objetivos de salud y rendimiento físico. Ofrecemos asesoramiento personalizado, equipos de última tecnología y un ambiente motivador para que alcances tu mejor versión.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}